*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(129, 150, 150);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 5rem;
}

.logo{
    width: 150%;
}

a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
}

nav, a{
    margin-left: 2.5rem;
}

button{
    padding: 0.9rem 1.6rem;
    border: 1px solid white;
    margin-left: 2rem;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: rgb(0, 71, 165);
    border-radius: 15px;
}